<launch>
	<node name="wheel_vel" pkg="coppelia_ros_pioneer" type="wheel_velocity.py" respawn="true" output="screen" />
	<node name="odom" pkg="coppelia_ros_pioneer" type="odometry.py" respawn="true" output="screen" />
	<node pkg="tf" type="static_transform_publisher" name="imu_to_robot_base" args="0 0 0 0 0 0 base_link imu_link 100" />
</launch>
